<!doctype html>
<html ng-app="demo">

<head>
    <title>Hello AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script>
        angular.module('demo', [])
            .controller('testController', function ($scope, $http) {
                $scope.mostrarError = false;
                $scope.mostrarMensaje=false;
                $scope.defaultError = "Ha ocurrido un error desconocido";
                $scope.error = $scope.defaultError;
                $scope.searchId = undefined;
                $scope.person = undefined;

                $scope.editMode = false;

                $scope.createMode = false;

                $scope.getPerson = function () {

                    $scope.person = undefined;
                    
                    $scope.editMode=false;
                    $scope.createMode=false;
                    $http.get('http://localhost:8080/persona/' + $scope.searchId).
                        then(function (response) {
                            console.log("respuestabuena")
                            console.log(response.data)
                            $scope.person = response.data;
                            $scope.mostrarMensaje=false;
                        }).catch(function (error) {
                            console.log("respuestaMala")
                            console.log(error.data)

                            $scope.error = error.data.error;
                            $scope.mostrarError = true;
                            $scope.mostrarMensaje=false;
                        })

                }

                $scope.deletePerson = function (person) {
                	console.log(person)
                	
                    $http.delete('http://localhost:8080/persona/'+person.id).
                        then(function (response) {
                            $scope.mensaje = response.data.message;
                            $scope.mostrarMensaje=true;
                            $scope.person=undefined;
                        }).catch(function (error) {
                            $scope.error = error.data.error;
                            $scope.mostrarError = true;
                            $scope.mostrarMensaje=false;
                        })

                }

                $scope.updatePerson = function (person) {
                	 $scope.mostrarMensaje=false;
                	 $scope.mostrarError=false;

                    $http.put('http://localhost:8080/persona/', person).
                        then(function (response) {
                            $scope.mensaje = response.data.message;
                            $scope.mostrarMensaje=true;
                            $scope.toggleEditMode();
                        }).catch(function (error) {
                            $scope.error = error.data.error;
                            $scope.mostrarError = true;
                            $scope.mostrarMensaje=false;
                        })

                }

                $scope.createPerson = function (person) {


                    $http.post('http://localhost:8080/persona/',person).
                        then(function (response) {
                            $scope.mensaje = response.data.message;
                            $scope.mostrarMensaje=true;
                        }).catch(function (error) {
                            $scope.error = error.data.error;
                            $scope.mostrarError = true;
                            $scope.mostrarMensaje=false;
                        })

                }

                $scope.toggleEditMode = function () {

                    if ($scope.editMode) {
                        $scope.editMode = false;
                    } else {
                        $scope.editMode = true;
                    }
                }

                $scope.toggleCreateMode = function () { $scope.createMode = true, $scope.person=undefined};
            });



    </script>
</head>

<body>
<h1>Busqueda de Personas</h1>
    <div ng-controller="testController">
        <div id="searchDiv">
            <input type="text" placeholder="Indica el id a Buscar" ng-model="searchId" />
            <button ng-click="getPerson()">Buscar</button>
            <button ng-click="toggleCreateMode()">Crear</button>
        </div>

        </br>
        <div id="resultDiv" ng-if="person!=undefined ">
            <div>Persona Encontrada:</div>
            <div ng-if="!editMode && !createMode">
                <span>Nombre: {{person.nombre}},</span>
                <br />
                <span>
                    Apellido: {{person.apellido}}</span>
                </br> Edad: {{person.edad}}</span>
                </br>

                <button ng-click="toggleEditMode()">Editar</button>
				<button ng-click="deletePerson(person)">Eliminar</button>
            </div>

        </div>
        <div ng-if="editMode">

            <span>Nombre:
                <input type="text" ng-model="person.nombre"></input>
            </span>
            <br />
            <span>Apellido:
                <input type="text" ng-model="person.apellido"></input>
            </span>
            </br> Edad:
            <input type="text" ng-model="person.edad"></input>
            </span>
            </br>
            <button ng-click="updatePerson(person)">Aceptar</button>
        </div>
        <div ng-if="createMode">

            <span>Nombre:
                <input type="text" ng-model="person.nombre"></input>
            </span>
            <br />
            <span>Apellido:
                <input type="text" ng-model="person.apellido"></input>
            </span>
            </br> Edad:
            <input type="text" ng-model="person.edad"></input>
            </span>
            </br>
            <button ng-click="createPerson(person)">Aceptar</button>
        </div>
        <div style="padding-top: 30px; color: red; font-weight: bold;" ng-if="mostrarError">{{error}}</div>

        <div style="padding-top: 30px; color: blue; font-weight: bold;" ng-if="mostrarMensaje">{{mensaje}}</div>

    </div>
</body>

</html>