<div>
    <div>
      <div style="margin-bottom: 20px">

        <div class="col-md-12">
          <button type="button" ng-click="releaseConsultations();" class="btn btn-outline-primary">Liberar Consultas</button>
          <button type="button" ng-click="filterByPatients()"  class="btn btn-outline-primary">Consulta con mas pacientes atendidos</button>
        <button type="button" ng-show="isFiltered" ng-click="removeFilters();" class="btn btn-outline-danger">Quitar Filtro</button>  

        <button type="button" ng-show="emptyConsultation" ng-click="generateConsultations();" class="btn btn-outline-danger">GenerarConsultas</button>  
        </div>
  
  
        <div style="margin: 10px;">
          <div class="alert alert-success" ng-show="exito" role="alert">
            Exíto
          </div>
  
          <div class="alert alert-danger" ng-show="error" role="alert">
            Error
          </div>
        </div>
      </div>
    </div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Especialista</th>
            <th scope="col">Pacientes Atentdidos</th>
            <th scope="col">Estado</th>
            <th scope="col">Operacion</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-class="consult.state?'table-success':'table-secondary'" ng-repeat="consult in consultationList">
            <td scope="col">{{consult.id}}</td>
            <td scope="col">{{consult.name}}</td>
            <td scope="col">{{consult.specialist}}</td>
            <td scope="col">{{consult.totalPatients}}</td>
            <td scope="col">{{consult.state?'Libre':"Ocupado"}}</td> 
            <td scope="col"><button type="button" ng-show="consult.state==0" ng-click="" class="btn btn-outline-primary">Liberar</button></td> 
            <td scope="col" class="text-center">{{patientL.waiting_area}}</td>
          </tr>
        </tbody>
      </table>
    </div>