<div>
  <div>
    <div style="margin-bottom: 20px">
      <div class="input-group  col-md-4 offset-md-8" style="margin-bottom:20px;">
        <input type="text" ng-model="recordSearch" class="form-control" placeholder="historias mas riesgosas" aria-label="Buscar historias con mas riesgo"
          aria-describedby="button-addon1">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary " type="button"  ng-click="searchWorst()" id="button-addon1">Buscar</button>
        </div>
      </div>
      <div class="col-md-12" style="margin-bottom: 40px">
        <button type="button" ng-click="showForm=!(showForm); exito=false; error=false;" class="btn btn-outline-primary">+</button>
        <button type="button" ng-click="smokerList=!smokerList; smokersFilter();" ng-class="smokerList?'disabled':''" class="btn btn-outline-primary">Listar Fumadores Urgente</button>
        <button type="button" ng-click="elderList=!elderList; elderFilter();" ng-class="elderList?'disabled':''" class="btn btn-outline-primary ">Pacientes más ancianos</button>
        <button type="button" class="btn btn-success" ng-click="toggleOptimization();optimized=true;" ng-show="!optimized">Activar Optimización</button>
        <button type="button" class="btn btn-danger" ng-click="toggleOptimization();optimized=false;" ng-show="optimized">Desactivar Optimización</button>
        <button type="button" class="btn btn-danger" ng-click="removeFilters()" ng-show="isWorstSearch">Quitar Filtros</button>
     
      </div>

      <div class="col-md-12 text-center"><h3>Listado de pacientes</h3></div>

      <div style="margin: 10px;">
        <div class="alert alert-success" ng-show="exito" role="alert">
          Exíto
        </div>

        <div class="alert alert-danger" ng-show="error" role="alert">
          Error
        </div>
      </div>
    </div>
    <div class="col-md-6 jumbotron" ng-show="showForm">

      <form>
        <div class="text-center" style="margin-bottom:20px;">
          <h3>Agregar Paciente</h3>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Nombre</label>
          <input type="text" class="form-control" ng-model="patient.name">
        </div>

        <div class="form-group">
          <label for="exampleFormControlInput1">Rut</label>
          <input type="text" class="form-control" ng-model="patient.rut">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Edad</label>
          <select class="form-control" ng-model="patient.age" id="edad">
            <option ng-repeat="a in range(140) track by $index" value="{{$index + 1}}">{{$index + 1}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlInput1">historia</label>
          <input type="text" class="form-control" ng-model="patient.record">
        </div>

        <div class="form-group" ng-show="patient.age>15 && patient.age<41">
          <label for="exampleFormControlSelect1">Años Fumando</label>
          <select class="form-control" ng-model="patient.espAttr">
            <option ng-repeat="a in range(80) track by $index" value="{{$index}}">{{$index}}</option>
          </select>
        </div>

        <div class="form-group" ng-show="patient.age>40">
          <label for="exampleFormControlSelect1">Tiene dieta</label>
          <select class="form-control" ng-model="patient.espAttr">
            <option value="0">Si</option>
            <option value="1">Ni</option>
          </select>
        </div>

        <div class="form-group" ng-show="patient.age<16">
          <label for="exampleFormControlSelect1">Peso-estatura</label>
          <select class="form-control" ng-model="patient.espAttr">
            <option ng-repeat="a in range(4) track by $index" value="{{$index + 1}}">{{$index + 1}}</option>
          </select>
        </div>
        <button type="button" ng-click="showForm=(!showform); addPatient()" class="btn btn-primary">Agregar</button>

      </form>
    </div>
  </div>
  <div>
    <table class="table" style="font-size: 12px;">
      <thead>
        <tr>
          <th scope="col">rut</th>
          <th scope="col">Nombre</th>
          <th scope="col">Edad</th>
          <th scope="col">Historia Médica</th>
          <th scope="col">Prioridad</th>
          <th scope="col">Riesgo</th>
          <th scope="col">Fecha de admisión</th>
          <th scope="col">Condición</th>
          <th scope="col">Area de espera</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="patientL in listaEsperaActual">
          <td scope="col">{{patientL.patient.rut}}</td>
          <td scope="col">{{patientL.patient.name}}</td>
          <td scope="col">{{patientL.age}}</td>
          <td scope="col">{{patientL.patient.record}}</td>
          <td scope="col">{{patientL.priority}}</td>
          <td scope="col">{{patientL.risk}}</td>
          <td scope="col">{{patientL.created}}</td>

          <td scope="col" ng-show="patientL.age>15 && patientL.age<41">Años Fumando: {{patientL.espAttr}}</td>
          <td scope="col" ng-show="patientL.age<16"> Peso-estatura: {{patientL.espAttr}}</td>
          <td scope="col" ng-show="patientL.age>40">Tiene Dieta: {{patientL.espAttr?'Si':"No"}}</td>

          <td scope="col" class="text-center">{{patientL.waitingArea}}</td>
        </tr>
      </tbody>
    </table>
  </div>